.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: to-rem(20);
    padding: 2rem;

    z-index: 6;

    &:hover {
        cursor: pointer;
    }

    .stripe {
        transition: 0.2s transform ease-in-out;
        transform-origin: center;
        width: to-rem(16px);
        height: 2px;
        background-color: white;
        position: absolute;

        left: to-rem(23px);

        &:hover {
            color: coral;
        }

    }
    .stripe-1 {
        top: to-rem(28px);
    }

    .stripe-2{
        top: to-rem(33px);
    }

    .stripe-3{
        top: to-rem(38px);
        width: to-rem(12px);
    }
}

.menu-container.active-menu .stripe.stripe-1 {
    transform: rotate(41deg) translateY(0.4rem);
}
.menu-container.active-menu .stripe.stripe-2 {
    transform: translateX(-20);
    opacity: 0;
}
.menu-container.active-menu .stripe.stripe-3 {
    transform: rotate(-41deg) translateY(-0.4rem);
    width: to-rem(16px);
}