.menu-container {
    position: relative;
    background-color: black;
    width: to-rem(20);
    padding: 2rem;

    .stripes {
        width: 16px;
        height: 2px;
        background-color: white;
        
        position: absolute;
        top: 50%;
        transform: translateX(-50%);

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-color: white;
            width: 16px;
            height: 2px;
        }

        &::before {
            top: 6px;
            width: 9px;

        }

        &::after {
            bottom: 6px;
        }
    }
}