.product-list {
    @include media('>tablet') {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .product-container {
        position: relative;

        padding: to-rem(90px) to-rem(60px);
        border-right: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;

        transition: 0.2s all ease-in-out;

        &:hover {
            background-color: lightgrey;
            img {
                transition: 0.2s all ease-in-out;
                transform: rotate(12deg) scale(1.2);
            }
            @include media('>tablet') {
                .btn-round {
                    opacity: 1;
                }
            }
        }
    }

    .bottom-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .price-info {
        display: flex;
    }

    .price {
        font-size: to-rem(20px);
        font-weight: 700;
        align-self: flex-end;
        padding: 0;
    }

    .designer-label {
        font-size: to-rem(14);
        color: lightgrey;
        text-transform: uppercase;
        font-weight: bold;
        padding-bottom: to-rem(6px);
    }

    .designer-name {
        padding: 0;
    }

    .btn-round {
        @include media('>tablet') {
            transition: 0.2s all ease-in-out;
            position: absolute;

            background-color: $white;
            color: coral;
            border-radius: to-rem(20px) to-rem(20px);
            width: to-rem(40px);
            height: to-rem(40px);
            right: to-rem(40px);
            top: to-rem(40px);

            opacity: 0;
        }
    }

    .btn-round-inside {
        @include media('>tablet') {
            position: absolute;
            top: 50%;
            left: 50%;
            transform:translateY(-50%) translateX(-50%) scale(2);
            padding-bottom: 0;
        }
    }
}