.container {
    position: relative;
    padding: to-rem(20px);
    text-align: center;

    @include media('>tablet') {
        height: 50vh;
    }
}

.timeline-info {
    padding-bottom: to-rem(20px);
}

.timeline__end-text {
    padding-top: to-rem(20px);
}

.timeline {
    position: relative;
    top: 0;
    left: 0;

    height: 100vh;
    width: 2px;

    background-color: $primary-color;
    color: $primary-color;

    margin: auto;

    z-index: 1;

    @include media('>tablet') {
        width: 100%;
        height: 2px;

        top: 50%;
        transform: translateY(-50%);

    }

    &::before,
    &::after {
        content: '';
        
        position: absolute;
        left: 0;
        
        width: to-rem(20px);
        height: to-rem(20px);
        
        border-radius: 50%;
        
        background-color: $primary-color;
        
        font-size: to-rem(14px);

        top: to-rem(-9px);
    
    }

    &::before{
        left: 0;

    }

    &::after {
        left: initial;
        right: 0;
    }

}

.timeline__container {
    position: absolute;
    top: to-rem(120);
    left: 50%;

    text-align: center;
    margin: auto;
    z-index: 3;

    @include media('>tablet') {
        display: flex;
        left: to-rem(10px);

    }
}

.timeline-item {
    background-color: white;
    padding: to-rem(10px);
    margin-bottom: to-rem(30px);

    transition: opacity ease-in-out 0.2s;

    @include media('>tablet') {
        margin-left: to-rem(40px);
    }

    .heading-02,
    .paragraph-01 {
        transition: opacity ease-in-out 0.2s;
        opacity: 0;
    }
}

.timeline-item.show .heading-02,
.timeline-item.show .paragraph-01 {
    opacity: 1;
}