@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');
// Colors
$background-color: #FCECDD;
$paragraph-color: #000;
$background-list-color: #FFFFFF;
$primary-color: #1A3F62;

// Typography
$primary-font: 'Chivo', sans-serif; 
$secondary-font: 'Noto Sans JP', sans-serif;
