@import '../modules/variables.scss';

html {
  font-size: 16px;

  background-color: black;

  @include media(">desktop") {
    // everything calculated will scale fluidly after medium breakpoint
    font-size: calc(12px + 0.4vw);
  }
}

svg {
  width: 100%;
}

body {
  font-size: 1rem;
  background-color: $background-color;

  margin: auto;

  @include media('>tablet') {
    height: 100vh;
  }
}

.word-break {
  display: block;
}

a {
  &:any-link {
    color: #000000;

  }
}