.btn {
    position: relative;
    font-size: to-rem(14px);
    font-family: $secondary-font;
    padding: to-rem(20px);
    border: none;
    font-weight: bold;

    padding-left: to-rem(40);

        
    span {
        padding: 0;
        position: absolute;
        top: 54%;
        transform: translateY(-50%) scale(1.5);
        left: to-rem(25px);

        color: coral;
        align-self: center;
    }

}

.cart-button {
    position: fixed;
    bottom: 0;
    right:0;
}
